<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.orderDate | date}}</td>
      <td>
        <a href="#">View</a>
      </td>
    </tr>
  </tbody>
</table>
