<div  class="col"><div class="card text-white bg-dark mb-3" style="max-width: 400px;">
  <img class="card-img-top" src="{{product.imgurl}}" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">{{product.title}}</h2>
    <h3 class="card-text">{{product.price | currency:'USD':'symbol-narrow'}}</h3>
  <div class="card-footer" *ngIf="calculQuantity()===0;else Quantity"><button (click)="addToCart()"  class="btn btn-primary btn-block">Add to Cart</button></div>
  <ng-template #Quantity>
    <div class="row no-gutters">
      <div class="col-2">
        <button class="btn btn-danger btn-block" (click)="removeFromCart()">-</button>
      </div>
      <div class="col text-center">{{calculQuantity()}} in Cart</div>
      <div class="col-2">
        <button class="btn btn-danger btn-block" (click)="addToCart()">+</button>
      </div>
    </div>
  </ng-template>

  </div>

</div></div>
