<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
 <div class="container">
   <a class="navbar-brand" routerLink="/"><fa-icon [icon]="icon"></fa-icon></a>
   <button class="navbar-toggler" type="button" (click)="switch()" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" routerLinkActive="active" routerLink="/shopping-cart"><fa-icon [icon]="icon1"></fa-icon> <span class="badge badge-pill badge-success">{{totQuantity }}</span></a>
       </li>
     </ul>
     <ul class="navbar-nav">
       <ng-template #goToLogin>
         <li class="nav-item">
           <a class="nav-link" routerLinkActive="active"  routerLink="/login">Login</a>
         </li></ng-template>
       <li ngbDropdown class="nav-item dropdown" style="cursor: pointer;">
         <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" *ngIf="appUser; else goToLogin" aria-expanded="false">{{appUser.name}}</a>
         <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
           <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
           <ng-container *ngIf="appUser">
             <ng-container *ngIf="appUser.admin">
               <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
               <a class="dropdown-item" routerLink="/admin/products">Manage Products</a></ng-container></ng-container>
           <a class="dropdown-item" (click)="logout()">Log Out</a>
         </div>
       </li>
     </ul>
   </div>
 </div>

</nav>
