<div class="container">
  <h1>Shopping Cart</h1>
<table  class="table table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Product</th>
    <th style="width: 200px;" class=" text-center" scope="col">Quantity</th>
    <th scope="col" class="text-right">Price</th>
  </tr>
  </thead>
  <ng-container *ngIf="cart">
  <tbody *ngFor="let p of keys">
  <tr style="width: 200px;" *ngIf="cart[p].quantity>0">
    <th scope="row"><div [style.backgroundImage]="'url(' +cart[p].product.imgurl+' )'"  class="thumbnail"></div></th>
    <td>{{cart[p].product.title}}</td>
    <td> <div class="row no-gutters">
      <div class="col-2">
        <button class="btn btn-danger btn-block" (click)="removeFromCart(p)">-</button>
      </div>
      <div class="col text-center">{{cart[p].quantity}} in Cart</div>
      <div class="col-2">
        <button class="btn btn-danger btn-block" (click)="addToCart(p)">+</button>
      </div>
    </div></td>
    <td class="text-right">{{cart[p].product.price | currency:'USD':'symbol-narrow'}}</td>
  </tr>

  </tbody></ng-container>
  <tfoot><tr >
    <th scope="row">#</th>
    <td></td>
    <td></td>
    <td><h1 class="text-light-50 text-right">{{totPrice | currency:'USD':'symbol'}}</h1></td>
  </tr></tfoot>

</table>
  <button class="btn btn-success mb-4 mr-3" routerLink="/check-out" [disabled]="validator()" >Check Out</button>
<button class="btn btn-danger mb-4" (click)="clear()">Clear The Cart</button>

</div>
