<div class="row">
  <div class="col-md-6">

    <form #f="ngForm" (ngSubmit)="add(f.value)" >
      <div class="form-group">
        <label for="title">Title:</label>
        <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" [ngClass]="title.touched?title.valid?'form-control is-valid':'form-control is-invalid':'form-control'"  required>
        <div class="invalid-feedback" *ngIf="title.touched && title.invalid">
          <div>Title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div><input [(ngModel)]="product.price" name="price"  #price="ngModel" id="price" type="number" [ngClass]="price.touched?price.valid?'form-control is-valid':'form-control is-invalid':'form-control'" [gt]="0" required></div>
        <div class="invalid-feedback" *ngIf="price.invalid && price.touched" >
          <div *ngIf="price.getError('required')">Price is required</div>
          <div *ngIf="price.getError('gt')">Price must be positive</div>
        </div>
      </div>
      <div class="form-group">
        <label for="cat">Category:</label>
        <select id="cat" [(ngModel)]="product.category" name="category"  #categ="ngModel" type="text" required [ngClass]="categ.touched?categ.valid?'form-control is-valid':'form-control is-invalid':'form-control'">
          <option value="" disabled></option>
          <option *ngFor="let e of cat;let i=index " [value]="keys[i]">{{e.name}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="categ.touched && categ.invalid">
          <div>Category is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="img">Image URL:</label>
        <input id="img"  [(ngModel)]="product.imgurl" name="imgurl" type="text" #img="ngModel" url required  [ngClass]="img.touched?img.valid?'form-control is-valid':'form-control is-invalid':'form-control'">
        <div class="invalid-feedback" *ngIf="img.touched && img.invalid">
          <div *ngIf="img.errors.required">Image URL is required</div>
          <div *ngIf="img.errors.url">invalid URL</div>
        </div>
      </div>
      <div class="row"><button type="submit" [disabled]="f.invalid" class="btn btn-success">{{addMode?'Add':'Save Changes'}}</button>
       <button class="btn btn-warning mx-2" type="button" routerLink="/admin/products">Cancel</button></div>

    </form>
  </div>
  <div  class="col-md-6">
    <div *ngIf="product.title" class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <img class="card-img-top" *ngIf="img.valid" [src]="product.imgurl" [alt]="product.title">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p *ngIf="price.valid" class="card-text">Price :{{product.price | currency:'USD':'symbol-narrow'}}</p>
      </div>
    </div>
  </div>
</div>


