<div class="card" >
  <div class="card-body">
    <h1 class="card-title">Order Summary</h1>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">you have {{totItems()}} items in your shopping cart.</p>
    <ul class="list-group-flush">
      <li class="list-group-item" *ngFor="let e of items">
       {{e.quantity}} x {{e.product.title}}
        <div class="float-right">{{e.quantity*e.product.price|currency:'USD':'symbol-narrow'}}</div>
      </li>
      <li class="list-group-item font-weight-bolder" >
        Total Price
        <div class="float-right">{{totalPrice()|currency:'USD':'symbol-narrow'}}</div>
      </li>
    </ul>
  </div>
</div>
