
<h2>Shipping</h2>
<div class="row">
  <div class="col-6"><form #f="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input  #name="ngModel" id="name" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="addressLine1">Address</label>
      <input #addressLine1="ngModel" id="addressLine1" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Line 1" required>
      <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
        <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="addressLine2"></label>
      <input #addressLine2="ngModel" id="addressLine2" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text" class="form-control" placeholder="Line 2" required>
      <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
        <div *ngIf="addressLine2.errors.required">Address Line 2 is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input #city="ngModel" id="city" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
        <div *ngIf="city.errors.required">City is required.</div>
      </div>
    </div>
    <button
      (click)="placeOrder()"
      [disabled]="name.invalid || addressLine1.invalid || addressLine2.invalid || city.invalid"
      class="btn btn-primary">Place Order</button>
  </form></div>
  <div class="col-6"><app-shopping-cart-summary  [items]="cart"></app-shopping-cart-summary></div>
</div>

