
<div class="list-group" id="list-tab" role="tablist">

  <a  *ngIf="categories.length"  class="list-group-item list-group-item-action list-group-item-dark" [class.active]="!selected" routerLink="/"  data-toggle="list"  role="tab" aria-controls="home">All Categories</a>
  <a  *ngFor="let e of categories;let i=index" routerLink="/" routerLinkActive="active" [queryParams]="{category:e.name}" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">{{e.name}}</a>

</div>

