<div class="example-header">
  <div class="example-button-row"><button mat-raised-button id="mat-raised-button" color="success" routerLink="/admin/products/new">Add Product</button></div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" width="90%" matSort >


    <ng-container matColumnDef="title">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  <ng-container matColumnDef="pic">
    <th class="mx-5"  mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
    <td mat-cell *matCellDef="let element"><img style="max-width: 50px;" src="{{element.imgurl}}" > </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

    <ng-container matColumnDef="price">
      <th class="mx-5"  mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price+' $'}} </td>
    </ng-container>


  <ng-container matColumnDef="action">
    <th class="mx-5"  mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let element;let i=index">

      <div class="example-button-row">
      <button mat-raised-button color="primary" [routerLink]="['/admin/products',keys[i]]">Edit</button>
        <button mat-raised-button color="warn" class="mx-3" (click)="delete(i)">Delete</button></div></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator></div>
