<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-lg-12"><div class="sticky-top"><app-filter [selected]="selectedCat" [categories]="categories"></app-filter>
      </div></div>
  </div></div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filtredProd;let i= index">
        <app-product [shoppingCart]="card" [key]="keys[i]" [product]="p"></app-product>
        <div class="w-100" *ngIf="(i+1)%2===0"></div>
      </ng-container>
    </div>
  </div>
</div>





